@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Walter+Turncoat&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Walter Turncoat', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

pre {
    font-family: var(--font3);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(234, 255, 255);
    text-decoration: underline;
}

html, body {
    font-family: var(--font1);
    font-size: 1em;
    font-weight: normal;
    min-height: 100vh;
    background-color: #787878;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--font2);
    font-size: 4em;
    font-weight: normal;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

section {
    font-size: 1.5em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > pre {
    white-space: pre-line;
}

.normal {
    background-color: white;
}

.imagem {
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.538);
    background-color: #444444;
    color: white;
}

.imagem > pre {
    text-shadow: 1px 2px 0px black;
    display: inline-block;
    padding: 5px;
    background-color: #00000084;
}

#flor {
    background: url(../imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}

#cartas {
    background: url(../imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}